<!--
//
// Dados recebidos:
// ================
//
// * projetcs[] - Array de objetos com dados info. de cada projeto.
//
// Descrição de um objeto da array:
// ================================
//
// * screenshot - Endereço do screenshot ou `false` caso não exista.
// * title - Título do projeto.
// * type - Tipo do projeto: website, biblioteca, etc.
// * text - Texto com a descrição do projeto.
// * links{} - Objeto com link do projeto e seu código fonte.
// * links.url - Endereço para a página principal do projeto.
// * links.sourceCode - Endereço para o código fonte do projeto.
// * tags[] - Lista de etiquetas do projeto (em string).
//
//-->

<% projects.forEach((project) => { %>
  <div class="card">
    <% if (project.screenshot) { %>
      <img class="card-img-top" src="<%- project.screenshot %>">
    <% } %>
    <div class="card-body">
      <hgroup>
        <h2 class="card-title mb-3"><%= project.title %></h2>
        <h3 class="card-subtitle mb-2">
          De <time><%= project.date.from %></time> até <%= project.date.to %>
        </h3>
        <h4 class="card-subtitle"><%= project.type %></h3>
      </hgroup>
      <p class="card-text">
        <%- project.text %>
      </p>
      <ul>
        <li>
          <i class="fas fa-external-link-alt"></i>
          <a href="<%- project.links.url %>">Link</a>
        </li>
        <li>
          <i class="fab fa-github"></i>
          <a href="<%- project.links.sourceCode %>">Código-fonte</a>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <% project.tags.forEach((tag) => { %>
        <div class="badge badge-dark">
          <%= tag %>
        </div>
      <% }) %>
    </div>
  </div>
<% }) %>
